/** {
  outline: 1px solid red !important;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: black;
    overflow-x: hidden;
}

input {
    background: grey;
    font-size: 18px;
}

form {
    display: inline-block;
}

.centered {
    text-align: center;
}

#pizzaSize {
    font-weight: 800;
}

#movingPizzas1{
    position: absolute;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}
.mover {
    position: absolute;
    background: transparent url("../images/pizza.png");
    /* make same size of the image to avoid resizing */
    height: 100px;
    width: 77px;
}

.randomPizzaContainer {
    float: left;
    display: flex;
}

.randomPizzaContainer:after {
    content: "";
    display: table;
    clear:both;
}

.container {
    background-color: rgba(240, 60, 60, 0.8);
    position: relative;
    z-index: 2;
}
